* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
}
.header {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1489278353717-f64c6ee8a4d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-position: top;
  position: relative;
}
.quote {
  position: absolute;
  top: 40%;
  left: 20%;
  color: azure;
  transform: translate(-10%, -20%);
  text-align: center;
  backface-visibility: hidden;
}
.primary-quote {
  text-transform: uppercase;
  display: block;
  color: aliceblue;
  background-color: firebrick;
  font-size: 45px;
  font-weight: 900;
  letter-spacing: normal;
  word-spacing: 10px;
  animation-name: moveLeft;
  animation-duration: 1s;
}
.quote-author {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: 900;
  font-style: italic;
  float: right;
  margin-bottom: 60px;
}
@keyframes moveLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  text-size-adjust: 30px;
  padding: 15px, 40px;
  border-radius: 100px;
  transition: all .2s;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow:0 20px 30px rgba(202, 20, 20, 0.2);
}
.btn:active {
  transform: translateY(-1px);
  box-shadow:0 10px 20px rgba(199, 12, 12, 0.2);
}
.btn-white {
  margin-top: 70px;
  background-color: aliceblue;
  color: rgb(8, 8, 8);
}
